/* 

PUBLICACIONES

*/

/* PUBLICACION 1 */

.post-1 {
    padding-top: .9%;
    padding-bottom: 4.6rem;
    padding-left: 6.4%;
    padding-right: 6.4%;
    background-color: var(--bg-color);
    justify-content: center;
}

.post-1 .title {
    color: var(--title-color);
}

/* header autor menu content */
.post-1 .header,
.post-1 .autor .container {
    padding: .6em;
    border-radius: .9em;
}

/* header de la publicacion */
.post-1 .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: header;
    margin-bottom: var(--def-margin-bottom);
    /* background-color: var(--primary-color); */
}

.post-1 .header .title {
    font-size: var(--h1-font-size);
    font-weight: 800;
    padding-top: .2em;
    padding-bottom: .2em;
}

.post-1 .header .text {
    font-size: var(--small-font-size);
    font-weight: 300;
    color: var(--text-color);
    padding-top: .6em;
    padding-bottom: .6em;
}

/* autor de la publicaion */

.post-1 .autor {
    display: grid;
    grid-template-columns :auto 1fr;
    --def-margin-bottom: 2.9rem;
}

.post-1 .autor .title {
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.post-1 .autor .text {
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--text-color);
}

.post-1 .autor .container {
    display: flex;
    margin-bottom: var(--def-margin-bottom);
}

/* contenido de l a publicacion */
.post-1 .content {
    /* margin-left: 9.9%; */
    /* margin-right: 9.9%; */
    grid-area: content;
    /* background-color: var(--secondary-color); */
}

.post-1 .content .title {
    font-size: var(--h2-font-size);
    font-weight: 600;
    padding-top: .6em;
}

.post-1 .content .text {
    font-size: var(--medium-font-size);
    font-weight: 300;
    color: var(--text-color);
    padding-top: .4em;
    padding-bottom: .4em;
    line-height: 1.9em;
}