/* para los los tipos de menu (estatico y desplegable) */
.FILTER-MENU {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    align-content: flex-end;
    justify-content: left;
}

.FILTER-MENU .filter-option {
    white-space: nowrap;
    font-size: var(--medium-font-size);
    list-style: none;
    cursor: pointer;
    letter-spacing: .016em;
}

/* menu desplegable */
.FILTER-MENU.DROPDOWN {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    transform: translate(0, 200%);
    opacity: 0;
    background-color: var(--menu-bg-color);
    transition: 0.19s;
}
.FILTER-MENU.DROPDOWN.is-active {
    transform: translate(0, 0);
    opacity: 1;
}
.FILTER-MENU.DROPDOWN .filter-option {
    background-color: var(--bg-color);
    padding: 1.2rem;
    color: var(--title-color);
    font-weight: 700;
}
.FILTER-MENU.DROPDOWN .filter-option:hover {
    background-color: var(--primary-color);
}

/* menu estatico */
.FILTER-MENU.STATIC {
    position: relative;
    margin-bottom: 1.9rem;
}

.FILTER-MENU.STATIC .select-filter-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .6rem;
    box-shadow: .029rem .029rem 0.27rem var(--secondary-color);
    background-color: var(--bg-color-alt);
    border: 0.19rem solid var(--bg-color-alt);
    padding: .2rem .6rem;
}
.FILTER-MENU.STATIC .current-filter {
    font-size: var(--medium-font-size);
    padding: .29em 0;
    letter-spacing: .016em;
    font-weight: 700;
    color: var(--text-color);
}
.FILTER-MENU.STATIC .icon {
    display: block;
    height: var(--medium-font-size);
}
.FILTER-MENU.STATIC .icon img{
    width: auto;
    height: 100%;
}

.FILTER-MENU.STATIC .filter-option-menu {
    position: absolute;
    background-color: var(--bg-color-alt);
    top: 100%;
    width: 100%;
    padding: .2rem 0;
    border: 0.19rem solid var(--secondary-color);
    box-shadow: .029rem .029rem 0.27rem var(--secondary-color);
    transform-origin: top center;
    transform: scale(1, 0);
    transition: transform .06s;
}

.FILTER-MENU.STATIC .filter-option-menu.is-active {
    transform: scale(1, 1);
    border-radius: 0 0 .2em .2em;
}

.FILTER-MENU.STATIC .filter-option {
    color: var(--text-color);
    padding: .2em .6rem;
}
.FILTER-MENU.STATIC .filter-option:hover {
    background-color: var(--primary-color);
}