/* boton de la pagina all posts */

.FILTER-BUTTON {
    position: fixed;
    bottom: 2.7rem;
    right: .9rem;
    z-index: 9;
    border-radius: 1.9rem;
    border: 0.2rem solid var(--primary-color);
    background-color: var(--primary-color);
    padding: .9rem;
    display: block;
    font-size: var(--medium-font-size);
    font-weight: 700;
    letter-spacing: .012em;
    color: var(--bg-color-alt);
}
.FILTER-BUTTON:hover {
    border: 0.2rem solid var(--text-color);
}


@media screen and (min-width: 900px) {
    .FILTER-BUTTON {
        display: none;
    }
}

