/*

CABECERA

*/

.HEADER {
    position: sticky;
    z-index: 9;
}

.HEADER .container {
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--bg-color-alt);
    box-shadow: 0 -.19rem 0.4rem var(--title-color);
}

.HEADER .container .index-link {
    height: calc(var(--header-height) * 0.66);
    margin-left: .9rem;
    justify-self: center;
    align-self: center;
}

.HEADER .container .index-link img {
    display: block;
    height: 100%;
}

.HEADER .container .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-right: 1.27rem;
    gap: 2rem;
}

.HEADER .container .menu ul li,
.HEADER .container .menu ul li a {
    font-size: var(--medium-font-size);
    /* letter-spacing: 0.012em; */
    font-weight: 700;
    color: var(--title-color);
    text-decoration: none;
    list-style: none;
}
.HEADER .container .menu ul li a:hover {
    color: var(--primary-color);
}